// Place all the styles related to the Orders controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

input[type="submit"] {
  border: 1px solid #006633;
  background-color: #009966;
  color: #ffffff;
  border-radius: 5px;
  padding: 5px;
  margin-top: 10px;
}
