<div class="container-fluid">
<div class="row-fluid">
  <div class="span3">
    <div class="well sidebar-nav">
      <ul class="nav nav-list">
        <li class="nav-header">Sidebar</li>
        <li class="active"><a href="#">Link</a></li>
        <li><a href="#">Category 1</a></li>
        <li><a href="#">Category 2</a></li>
        <li><a href="#">Category 3</a></li>
        <li><a href="#">Category 4</a></li>
        <li><a href="#">Category 5</a></li>
        <li><a href="#">Category 6</a></li>
        <li><a href="#">Category 7</a></li>
        <li><a href="#">Category 8</a></li>
        <li><a href="#">Category 9</a></li>
        <li><a href="#">Category 10</a></li>
        <li><a href="#">Category 11</a></li>
        <li><a href="#">Category 12</a></li>
      </ul>
    </div><!--/.well -->
  </div><!--/span-->

  <div class="span9">
    <div class="hero-unit">
      <h1>Hello, world!</h1>
      <p>This is a template for a simple marketing or informational website. It includes a large callout called the hero unit and three supporting pieces of content. Use it as a starting point to create something more unique.</p>
      <p><a href="#" class="btn btn-primary btn-large">Learn more »</a></p>
    </div>

    <div class="row-fluid">
        <% @products.each do |product| %>
      <div class="span4">

          <h2><%= product.title %></h2>
          <p><%= product.description %></p>
          <p><%= product.price %><p>
          <p> <%= link_to "View details »", product_path(product), class: "btn" %></p>
          <!-- <p><a class="btn" href="#">View details »</a></p> -->
      </div><!--/span-->
        <% end %>
    </div><!--/row-->

<!-- <hr>
<footer>
  <p>© Company 2013</p>
</footer> -->
</div><!--/.fluid-container-->



