<h1>Products#index</h1>
<p>

  <% @products.each do |product| %>
    <p>
      <%= link_to product.title, product_path(product) %><br/>
      <%= product.description %><br/>
      <%= product.price %>
    </p>
  <% end %>

</p>
