<h1><%= @product.title %></h1>

<p>
  <%= @product.description %>
</p>
<p>
  <%= @product.price %>
</p>

<%= link_to "Add to cart", cart_path(product_id: @product.id), method: :put %>







#picture of product
#add to cart button
